/* mystyles.css */

html,

body{
    height: 100%;
    background-color: whitesmoke;
    border: tomato 1px;
    
}

h3{
  font-size: 20px;
  border: 1px;
}
.h2{
  font-size: 10px;
}
form {
  border: 3px solid #000000;
}

img{
  size: 30px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}