/* mystyles.css */

html,
body{
    height: 100%;
    background-color: blanchedalmond;
    padding: 20px;
}

img {
    max-width: 100%;
    
}


section-content1 img{
    vertical-align: auto;
    }
    
.section-content1 .container{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 50%;
  padding: 50px;
  margin: 50px;

    }

* {
    box-sizing: border-box;
  }
    
body {
  font-family: Arial, Helvetica, sans-serif;
}
    

.columns {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}
    

.row {margin: 0 -5px;}
    

.row:after {
  content: "";
  display: table;
  clear: both;
}
    

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


.footer {
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

.carousel-inner img {
  min-width: 100%;
  min-height: 100%;
}